[user]
	name = gashon
	email = gashon96@gmail.com

[core]
    editor = vim
    pager = delta

[push]
    default = simple

[fetch]
    prune = false

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3
    ff = only

[rerere]
    enabled = true

[color]
    ui = auto
    branch = auto
    diff = auto
	status = auto

# configure gpgSigning and key for signing commits
[include]
    path = ~/.gitconfig_local

[mergetool "vimdiff"]
    cmd = vimdiff "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = true

[interactive]
    diffFilter = delta --color-only

[delta]
    syntax-theme = Monokai
    navigate = true    # use n and N to move between diff sections

[init]
    defaultBranch = main

[core]# Global .gitignore file
    excludesfile = ~/.gitignore_global  

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /tmp/dogma/dogma
