[Unit]
Description=Battery Notification Service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/gashon/Documents/github/dotfiles/systemd/scripts/battery_notify.sh

